@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  background-color: black;
  color: white;
}

body.light {
  background-color: rgb(235, 210, 210);
  color: black;
}
.name {
  font-family: poppins;
}

input .dark {
  background-color: black;
  color: white;
}