@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  background-color: rgba(0, 0, 0, 0.966);
  color: #f3f4f6e7;
}

body.light {
  background-color: rgba(235, 210, 210, 0.932);
  color: #4b5563;
}
.name {
  font-family: poppins;
}

input .dark {
  background-color: black;
  color: white;
}
.Toastify__toast {
  @apply bg-green-500 text-white; 
}

.Toastify__toast--success {
  @apply bg-green-500;
}